/* Estilo general para el contenedor de la página */
.container {
  display: grid;
  margin: 100px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilo para la barra de navegación */

/* Estilo para el título de la página */
.page-title {
  font-size: 1em;
  color: #de1f1f;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para el botón de regreso */
.return-button {
  display: block;
  margin: 10px 0 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  color: #333;
  transition: background-color 0.3s ease;
}

.return-button:hover {
  background-color: #ccc;
}

/* Estilo para el párrafo de descripción */
.description {
  font-size: 1.2em;
  color: #555;
  text-align: center;
  max-width: 800px;
  margin-bottom: 20px;
}

/* Estilo para el contenido principal */
.main-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Descripción del átomo */
.atom-description {
  font-size: 1em;
  color: #777;
  text-align: center;
  margin-top: 10px;
  max-width: 600px;
}

.expand {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
