.App {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* styles.css */
body, html {
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar padding por defecto */
  height: 100%; /* Asegurar que el cuerpo y el html ocupen toda la altura */
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background-color: #f0f0f0; /* Color de fondo (opcional) */

  zoom: 1; /* Esto restablece el zoom a 100% */
  min-width: 320px; 
}

#sceneContainer {
  display: flex;
  flex-direction: column; /* Colocar los elementos en columna */
  align-items: center; /* Centrar elementos dentro del contenedor */
}

